@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .fade-in {
    animation: fadeIn 1s forwards;
  }
  
  .fade-out {
    animation: fadeOut 1s forwards;
  }
  .img-grid img {
    transition: transform 0.3s ease;
    z-index: 1;
    position: relative; /* Add this line */
  }
  .img-grid img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    z-index: 2;
    position: relative; /* This is optional since it inherits from the non-hover state */
  }